<main>
    <div class="container" style="margin-top: 70px;" id="partner-container">
        <h2>Partner</h2>
        <h3 id="dsg-general-intro"></h3>
        <p>Die nachfolgenden Seiten und Personen sind unsere Partner</p>
        <ul id="partners">
            {% for url, name in partner %}
                <li><a href="{{ url }}" target="_blank">{{ name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</main>
